* {
  margin: 0;
}
html, body {
  height: 100%
}

body {
  background-color: #DEF2F3;
  color: #24454C;
  font-family: 'Ubuntu', sans-serif;
}
h1, h2 {
  font-family: 'Abel', sans-serif;
  color: #1093A7;
  font-size: 3em;
}

a {
  color: #24454C;
}

a:hover {
  color: #589BA4;
  text-decoration: none;

}
.wrapper {
  min-height: 100%;
  padding: 2em;

/*  The bottom margin is the negative value of the footer  */
}
.weather {
  width:800px;
  margin:0 auto;
  margin-top: 2em;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 3em;
}
.weather-items {
  border-left: 1px solid #1AD3F1;

}

#theIcon {
  width: 100px;
}

#temperature {
  display: inline-block;
  margin-right:10px;
}
.btn {
  display: inline-block;
}

.padded {
  padding: 1em;
}

.btn-default {
  background-color: #1AD3F1;
}
.btn-default:hover {
  background-color: #589BA4;
}
